/* Component classes */

.full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.black-gradient {
  background-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0.5),
    ease-in-out,
    transparent
  );
}
